<!-- Loop over each object in the projects array -->
{{#each charities as |charity| }}
<div class="row mb-4 project">
  // buttons for charity categories
    <a href="/lgbtq">LGBT</a>
    <button type="button" class="btn btn-primary">LGBT</button>
    <button type="button" class="btn btn-secondary">Mental Health</button>  
    <button type="button" class="btn btn-success">Social Justice</button>
    <button type="button" class="btn btn-danger">Women's Rights</button>    
</div>
{{/each}}