
<div class="row mb-4 project">
    <a href="/lgbtq">LGBT</a>
    <a href="/social-justice">Social Justice</a>
    <a href="/mental-health">Mental Health</a>
    <a href="/womens-rights">Women's Rights</a> 
</div>
